<div class="container">
  <h2>Forgot Password</h2>
  <hr />
  <div class="col-md-4 align-self-center" *ngIf="forgotPasswordResponse == null || forgotPasswordResponse.error">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" class="form-control" formControlName="email" />
        <div class="text-danger" *ngIf="forgotPasswordResponse?.error || form.controls.email.errors && form.controls.email.touched">
          <div *ngIf="form.controls.email.errors?.required">
            Email is required
          </div>
          <div *ngIf="form.controls.email.errors?.email">
            Not a valid email
          </div>
          <div *ngIf="forgotPasswordResponse?.error">
            {{forgotPasswordResponse.error}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Remind</button>
      </div>
    </form>
  </div>
  <div class="col-md-8 align-self-center" *ngIf="forgotPasswordResponse && forgotPasswordResponse.error == null">
    Please check your email to reset your password
  </div>
</div>