<div class="container">
  <h2>Reset Password</h2>
  <hr />
  <div class="col-md-4 align-self-center" *ngIf="resetPasswordResponse == null || resetPasswordResponse.error">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" class="form-control" formControlName="password" />
        <div class="text-danger" *ngIf="form.controls.password.errors && form.controls.password.touched">
          <div *ngIf="form.controls.password.errors.required">
            Password is required
          </div>
          <div *ngIf="form.controls.password.errors.minlength">
            Password must be at least 8 characters long
          </div>
          <div *ngIf="form.controls.password.errors.pattern">
            Password must contain at least one of each: uppercase letter, lowercase letter, number, special character
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password2">Confirm password</label>
        <input id="password2" type="password" class="form-control" formControlName="password2" />
        <div class="text-danger" *ngIf="form.errors && form.controls.password2.touched">
          <div *ngIf="form.errors.passwordsMatch === false">
            Passwords don't match
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="text-danger" *ngIf="resetPasswordResponse?.error">
          {{resetPasswordResponse.error}}
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Reset</button>
      </div>
    </form>
  </div>
  <div class="col-md-4 align-self-center" *ngIf="resetPasswordResponse && resetPasswordResponse.error == null">
    Your password has been reset
  </div>
</div>