#blazor-error-ui {
	background: lightyellow;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

#blazor-error-ui .dismiss {
	cursor: pointer;
	position: absolute;
	right: 0.75rem;
	top: 0.5rem;
}

.text-red, .validation-message {
	color: red;
}

.grid {
	background: #EEE;
	max-width: 1200px;
}

	/* clearfix */
	.grid:after {
		content: '';
		display: block;
		clear: both;
	}

/* ---- grid-item ---- */

.grid-item {
	width: 160px;
	float: left;
	background: #D26;
	border: 2px solid #333;
	border-color: hsla(0, 0%, 0%, 0.5);
	border-radius: 5px;
}

.grid-item--width2 {
	width: 320px;
}

.grid-item--width3 {
	width: 480px;
}

.grid-item--width4 {
	width: 640px;
}

.grid-item--height2 {
	height: 200px;
}

.grid-item--height3 {
	height: 260px;
}

.grid-item--height4 {
	height: 360px;
}
