@page "/auth/emailconfirmation"

@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager
@inject AuthService AuthService

<div class="container">
	<h2>Email Confirmation</h2>
	<hr />
	<div class="col-md-4 align-self-center">
		<div>
			@_status
		</div>
		@if (string.IsNullOrWhiteSpace(_error) == false)
		{
			<div class="text-danger">
				@_error
			</div>
		}
	</div>
</div>

@code {
	private string _status = "Confirming email...";
	private string _error = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
		if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("userId", out var userId) == false)
		{
			_status = "Error";
			_error = "Invalid query";
			return;
		}
		if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("code", out var code) == false)
		{
			_status = "Error";
			_error = "Invalid query";
			return;
		}

		_ = Task.Run(async () =>
		{
			_error = await AuthService.ConfirmEmail(userId, code);
			_status = string.IsNullOrWhiteSpace(_error)
				? "Thank you for confirming your email"
				: "Error";
			await InvokeAsync(StateHasChanged);
		});
	}
}
