@page "/auth/forgotpassword"

@inject AuthService AuthService
@inject NavigationManager NavigationManager

<div class="container">
	<h2>Forgot Password</h2>
	<hr />
	@if (_formSubmitted == false || string.IsNullOrWhiteSpace(_error) == false)
	{
		<div class="col-md-4 align-self-center">
			<EditForm Model="_model" OnValidSubmit=@OnValidSubmit>
				<DataAnnotationsValidator />
				<div class="form-group">
					<label for="email">Email</label>
					<InputText id="email" class="form-control" @bind-Value="_model.Email" />
					<ValidationMessage class="text-red" For="@(() => _model.Email)" />
				</div>
				<div class="form-group">
					<div class="text-red"> @_error </div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Remind</button>
				</div>
			</EditForm>
		</div>
	}
	else
	{
		<div class="col-md-4 align-self-center">
			Please check your email to reset your password
		</div>
	}
</div>

@code {
	private ForgotPasswordModel _model = new ForgotPasswordModel();
	private bool _formSubmitted = false;
	private string _error = string.Empty;

	private async Task OnValidSubmit(EditContext editContext)
	{
		_error = null;
		_formSubmitted = false;
		_error = await AuthService.ForgotPassword(_model);
		_formSubmitted = true;
	}
}
