<div class="modal fade" id="runJob-{{workerId}}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">RUN JOB</h5>
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <p class="m-2">Running <i #jobName></i>. Enter payload:</p>
        <textarea class="form-control job-textarea" #jobTextArea></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-info" data-dismiss="modal" (click)="runJob()">RUN</button>
      </div>
    </div>
  </div>
</div>

<div class="card white pt-3 px-3 mb-2" *ngFor='let jobDescription of jobDescriptions'>
  <div><h4>{{jobDescription.name}}</h4></div>
  <div class="ml-3" *ngFor='let descriptionLine of jobDescription.description'>
    <h6>{{descriptionLine}}</h6>
  </div>
  <div class="d-flex justify-content-center pt-1 pb-3">
    <button type="button" class="btn btn-lg btn-success mr-3" (click)="runJobWithDefaults(jobDescription)">&nbsp;&nbsp;&nbsp;Run Default&nbsp;&nbsp;&nbsp;</button>
    <button type="button" class="btn btn-lg btn-info" data-toggle="modal" [attr.data-target]="'#runJob-'+workerId" (click)="fillModal(jobDescription)">&nbsp;&nbsp;&nbsp;Run Custom&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>
