<div class="container-fluid">
  <div *ngIf="rceDataService.forbidden">
    <h5>You don't have access to this resource</h5>
  </div>
  <div *ngIf="rceDataService.forbidden === false && rceDataService.queueEmpty">
    <h5>No workers available</h5>
  </div>
  <ngx-masonry id="masonry" [options]="{fitWidth: true}" [updateLayout]="updateMasonryLayout">
    <div ngxMasonryItem *ngFor='let worker of rceDataService.workers'>
      <div id="worker" class="card border-primary m-3">
        <div class="card-header" [ngClass]="{'red-background': worker.error != null}">
          <img class="logo" [src]="getBase64Image(worker.base64Logo)" />
          <h3 class="inline ml-3">{{worker.name}}<span *ngIf="worker.error != null"
              class="ml-3">({{worker.error}})</span></h3>
        </div>
        <div class="card-body" [ngClass]="{'red-background': worker.error != null}">
          <p class="text-primary">{{worker.description}}</p>
          <app-job-descriptions [jobDescriptions]="worker.jobDescriptions" [workerId]="worker.workerId" (redrawMasonryRequested)="redrawMasonry()">
          </app-job-descriptions>
          <app-jobs [jobs]="worker.jobs" [workerId]="worker.workerId" (redrawMasonryRequested)="redrawMasonry()"></app-jobs>
        </div>
      </div>
    </div>
  </ngx-masonry>
</div>