@inject IJSRuntime JSRuntime

<div class="container-fluid">
	<div id="@_masonryId" class="grid justify-content-center my-0 mx-auto">
		@if (_masonryInitialized)
		{
			@ChildContent
		}
	</div>
</div>

@code {
	private string _masonryId;
	private bool _masonryInitialized;

	[Parameter]
	public RenderFragment ChildContent { get; set; }
	[Parameter]
	public object Options { get; set; }

	protected override void OnInitialized()
	{
		_masonryId = $"masonry-id-{Guid.NewGuid()}";
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("masonryInitialize", _masonryId, Options);
			_masonryInitialized = true;
			await InvokeAsync(StateHasChanged);
		}
		else
		{
			await JSRuntime.InvokeVoidAsync("masonryUpdate", _masonryId);
		}
	}

	public async Task Refresh()
	{
		await JSRuntime.InvokeVoidAsync("masonryUpdate", _masonryId);
	}
}
