@using RceServer.Domain.Models

<div class="worker card p-3 mx-1 mx-sm-3 mt-4">
	<div class="d-flex">
		<div>
			<img class="logo" src="@Worker.Base64Logo" />
		</div>
		<div class="ml-3">
			<h2>@Worker.Name</h2>
			<h6>@Worker.Description</h6>
		</div>
	</div>
	@foreach (var jobDescription in Worker.JobDescriptions)
	{
		<JobDescriptionComponent JobDescription="jobDescription" OnUpdate="OnJobUpdate" />
	}
</div>

@code {
	[Parameter]
	public Worker Worker { get; set; }
	[Parameter]
	public EventCallback OnUpdate { get; set; }

	public async Task OnJobUpdate()
	{
		await OnUpdate.InvokeAsync(null);
	}
}
